.borda {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
  }
  
  .quadrado {
    width: 100px;
    height: 100px;
    background-color: yellow;
  }
  