body{
   
}

#paragrafos{
   /* color:rgb(0, 183, 255);
    /*background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;*/
    background: url(../fundos/title.jpeg) center/cover no-repeat fixed;
    
}

#Titulo{
    color:rgb(255, 30, 169);
}

.textoVerde{
    color:green;
}

#base{
    height: 10px;
    background-color: red;
}
#container{
    height: 10px;
    background-color: blue;
    color:white
    margin-top: 10px;
    margin-left: 10px;
}