body{
   
}

#principal{
    color:rgb(0, 183, 255);
    background-image: url(../fundos/title.jpeg);
    background-repeat:no-repeat;
   background-attachment: scroll;
    
}

#Titulo{
    color:rgb(255, 30, 169);
}

.textoVerde{
    color:green;
}